$set-prefix: '' , -moz- , -webkit-,-o-,-ms-;
$rformWid: 40px;
$lformWid: 1000-$rformWid;
@mixin PP($name, $value) {
    @each $prefix in $set-prefix {
        #{$prefix}#{$name}: #{$value};
    }
}
@mixin bg($main){
	background:$main;
    @each $prefix in $set-prefix {
		background: #{$prefix}linear-gradient(top,#{$main} 0%,#{$main} 50%, darken( $main , 13.5%) 51%, darken( $main , 20%) 100%);
    }
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, darken($main,20%)), color-stop(0.51, darken($main,13.5%)), color-stop(0.50, $main), color-stop(0.00, $main));
}
body{
	background: #0C0C0C;
	font-family:"Gill sans",Osaka,Arial;
}
#body{
	background: #000;
	border: 1px solid #999;
	border-radius: 5px;
	color: #999;
	margin: 0 auto;
	padding: 10px;
	width: 1000px;
}
#footer{
	border-top: 1px solid #999;
}
#beautifuler{
	clear: both;
}
#results{
	float: left;
	width: 200px;
}
#board{
	height: 370px;
}
#wrench {
	border: 2px solid #999;
	padding: 3px;
	background:#CCC;
	margin-top: 3px;
	border-radius: 5px;
	cursor: pointer;
	width: 22px;
	height: 22px;
}
.form{
	border: none;
	display: block;
	float: left;
	margin: 3px floor($lformWid * 0.005) 0;
	padding: 0;
	width: floor($lformWid * 0.49);
	textarea{
		border: none;
		color: #999;
		height: 15em;
		resize: none;
		width: round($lformWid * 0.48 - 4 - 4);
		border-radius: 0 0 5px 5px;
	}
	legend{
		border: none;
		border-bottom:2px solid #999;
		border-radius: 5px 5px 0 0;
		color: #999;
		padding: 8px 2px;
		width: round($lformWid * 0.48 - 4 - 4);
	}
	.button, .Rbutton{
		display: inline-block;
	}
	.reset{
		border-radius: 5px 0 0 5px;
	}
	.select{
		border-radius: 0 5px 5px 0;
	}
}
#options{
	display:none;
	background: #000;
	border-left:3px solid #999;
	position: absolute;
	right: 100%;
	top: 0;
	padding: 0 3px;
	z-index: 5;
	height: 100%;
	width:320px;
}
#mes{
	opacity: .5;
	padding: 5px;
	&.on{
		opacity: 1;
		text-shadow: 1px 1px 3px rgba(255, 255, 255, .7), -1px -1px 3px rgba(255, 255, 255, .7);
	}
}
#befB, #aftB, #minus{
	display: block;
	float: right;
	text-align: right;
	width: 120px;
}
#befB{
	background: #DEF;
}
#aftB{
	background: #FDE;
}
#minus{
	background: #EEE;
}
#rform{
	float: right;
	position: relative;
	height:100%;
	@include PP("user-select","none");
	width: $rformWid;
	input, label{
		display: none;
	}
}
#lform{
	float: left;
	width: $lformWid;
	height:100%;
}
.customCheckBox{
	li{
		list-style: none;
	}
	&,  ul{
		margin: 0;
	}
	a.checked{
		background: #369;
		box-shadow: none;
		left: 0;
		top: 0;
	}
}
#nav{
	font-size: 0;
	padding: 0;
	li{
		border-radius: 3px;
		display: inline-block;
		font-size: 16px;
		list-style: none;
		margin-right: 3px;
		@include PP("transition", "background .3s linear 0");
	}
	li:hover, .now_location{
		background: #369;
	}
	a{
		color: #999;
		display: block;
		font-family: krungthep;
		padding: 3px 8px;
	}
}
#logo{
	margin: .5em 0;
}
#logo_title{
	background: url(./title.png) no-repeat;
	text-indent: 100%;
	width: 164px;
	height: 40px;
	display: block;
}
a.button, .button, .Rbutton, .inlinebutton, .inlineRbutton{
	background: none;
	color: #999;
	box-shadow: none;
	text-shadow: none;
	border: 1px solid transparent;
	&:hover{
		border: 1px solid #CCC;
	}
	&:active{
		top:0
	}
}
a.button, .button, .inlinebutton{
	&:hover{
		background: #444;
	}
	&:active{
		background: #222;
	}
}
.Rbutton, .inlineRbutton{
	&:hover{
		background: #A33;
	}
	&:active{
		background: #833;
	}
}
.customRadioButton{
	ul{
		padding: 0;
		margin: 0;
		height:25px;
		list-style: none;
	}
	li{
		margin-right:3px;
		display: inline-block;
	}
	a{
		border: 1px solid transparent;
		border-radius: 5px;
		padding: 0 3px;
		height:23px;
		display:block;
		color: #999;
		@include PP("user-select","none");
		&.checked{
			background: #369;
		}
		&:hover{
			border:1px solid #999;
		}
	}
}
dt{
	display: inline-block;
	border-bottom: 1px dashed #666;
	padding: 3px 0;
}
dd{
	border-bottom: 1px dashed #666;
	margin-bottom: .5em;
	padding: .5em 0;
}
#body #FC2Form {
	input[type="text"],textarea{
		border-color: #369;
	}
}
select{
	margin: .5em 0;
}